@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-green-500: #243831;
  --color-green-300: #2b5f44;
  --color-green-100: #d8e9e4;
  --color-golden: #c5a365;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text: #191919;
  --color-gary-100: #bbc2c0;
  --color-gray-300: #939494;
  --color-success: #49a569;
  --color-critical: #F23536;
  --color-default: #DADADA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
